{{title}}
<hr>
<br> {{3 |currency}} pipe kullanımı _> Text Interpolations
<div style="background-color: aqua"> <app-home></app-home></div>
<hr>
<input type="text" [value]="title" > property binding
<hr>
<app-home [pageName]="title"></app-home>
<hr>
<button (click)="eventBindingClick()">Event Bindint</button>
<hr>
<input type="text" [(ngModel)]="name">
<input type="text" [(ngModel)]="name">
{{name}} toway data binding
<hr>
<p>{{title}}</p> //interpolations Syntax
<br>
<p>{{sayi}}</p> //interpolations Syntax
<p ngNonBindable> {{title}} </p> Nonbindable interpolationu devre dışı bırakıyor.
{{name.length ==0 ? title: name}}
{{name.length}}
<hr>
directive ngfor
<br>
<div *ngFor="let city of cities;index as s">{{city}}-{{s}}</div>
<div *ngFor="let city of cities;let index=index; let first =first ; let last=last; let even=even; let odd=odd;">{{city}}-{{index}}-{{first}}-{{last}}-{{even}}-{{odd}}</div>

<ul *ngFor="let city of cities">
  <li>{{city}}</li>
</ul>
<br>
<hr>
<div *ngIf="visible">Hello World</div>
<div *ngIf="visible; else elseMessage" > İf Message</div>
<ng-template #elseMessage> else message</ng-template>
directive ngSwich
<br>
<hr>
<div [ngSwitch]="ngSwicthNumber">
  <div *ngSwitchCase="1"> Sayı 1 dir</div>
  <div *ngSwitchCase="2"> Sayı 1 dir</div>
  <div *ngSwitchCase="3"> Sayı 1 dir</div>


</div>


